/*
 * Filename: index_style.css
 * Author: John E Quinn
 * Git Project: personalWebsite
 *
 * Description: NA
 * Notes: SET TABSTOP=2 FOR CORRECT INDENTATION
 */

 .header, .index-header, .work-header, .contact-header {
	position: relative;
	height: 100vh;
	background-position: center;
}

.index-header h1 {
	font-size: 60px;
}

.index-header {
	background-image: url("/assets/images/paddle_board.jpg");
}

.work-header {
	background-color: white;
}

.contact-header {
  background-color: white;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
}

.description {
	position: absolute;
	top: 25%;
	margin: auto;
	padding: 2em;
}

.description h1, h3, h5 {
	color: #fff;
}

.thoughtsDescription {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	padding: 2em;
	text-align: center;
}

.thoughtsDescription h1, p{
	color: #F5F5F5;
}

.thoughtsDescription  p{
	font-size: small;
}

#firstArticle {
	background-image: url(/assets/images/thoughtsFront.jpg);
}

.card-body p {
	color: #455D7A;
}

.bg-transparent {
	background-color: transparent;
}

.navbar {
	position: relative;
}

.footer {
	background-color: rgb(50, 51, 58);
}

.text-dark {
	color: black;
}

.text-light {
	color: white;
}

.text-center {
	text-align: center;
}

.extra-small {
	font-size: 8px;
}
